package ${package}.${moduleName}.service;

import java.util.List;
import java.util.Date;
import ${package}.${moduleName}.entity.${className}Entity;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    List<${className}Entity> list(
        #foreach ($column in $columns)
            $column.attrType $column.attrname,
        #end
            Integer page,Integer size
    );
    int save(${className}Entity entity);
    int delete(${pk.attrType} ${pk.attrname});
    int update(${className}Entity entity);
    ${className}Entity getById(${pk.attrType} ${pk.attrname});
}

