package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;
import java.util.Date;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import com.gonghui.entity.Result;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@Api(tags = "${className}")
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @GetMapping("/list")
    @ApiOperation("列表")
    Object list(
        #foreach ($column in $columns)
             $column.attrType $column.attrname,
        #end
            Integer page,Integer size
    ){
        Object pages = ${classname}Service.list(#foreach ($column in $columns) $column.attrname,#end page,size);
        return Result.createDefaultSuccessDataResult(pages);
    }


    /**
     * 信息
     */
    @GetMapping("/info")
    @ApiOperation("信息")
    public Object info(${pk.attrType} ${pk.attrname}){
		${className}Entity ${classname} = ${classname}Service.getById(${pk.attrname});
        return Result.createDefaultSuccessDataResult(${classname});
    }

    /**
     * 保存
     */
    @PostMapping("/save")
    @ApiOperation("新增")
    public Object save(@RequestBody ${className}Entity ${classname}){
        return Result.createDefaultSuccessDataResult(${classname}Service.save(${classname}));
    }

    /**
     * 修改
     */
    @PostMapping("/update")
    @ApiOperation("修改")
    public Object update(@RequestBody ${className}Entity ${classname}){
        return Result.createDefaultSuccessDataResult(${classname}Service.update(${classname}));
    }

    /**
     * 删除
     */
    @GetMapping("/delete")
    @ApiOperation("删除")
    public Object delete(${pk.attrType} ${pk.attrname}){
        return Result.createDefaultSuccessDataResult(${classname}Service.delete(${pk.attrname}));
    }

}
