package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className}Entity;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    int save(${className}Entity entity);
    int delete(${pk.attrType} ${pk.attrname});
    int update(${className}Entity entity);
    ${className}Entity getById(${pk.attrType} ${pk.attrname});
}

