package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import tk.mybatis.mapper.entity.Example;
import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import java.util.List;
import java.util.Date;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;


@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {

    @Autowired
    ${className}Dao ${classname}Dao;

    public List<${className}Entity> list(
        #foreach ($column in $columns) $column.attrType $column.attrname, #end Integer page,Integer size
    ){
        Example example = new Example(${className}Entity.class);
        Example.Criteria criteria = example.createCriteria();
        #foreach ($column in $columns)
            if( $column.attrname != null){
                criteria.andEqualTo("$column.attrname",$column.attrname);
            }
        #end
        PageHelper.startPage(page, size);
        return  ${classname}Dao.selectByExample(example);

    }

    public int save(${className}Entity entity){
        return ${classname}Dao.insertSelective(entity);
    }

    public int delete(${pk.attrType} ${pk.attrname}){
        return ${classname}Dao.deleteSoftById(${pk.attrname});
    }

    public int update(${className}Entity entity){
        return ${classname}Dao.updateByPrimaryKeySelective(entity);
    }

    public  ${className}Entity getById(${pk.attrType} ${pk.attrname}){
        return ${classname}Dao.selectSoftById(${pk.attrname});
    }

}